.table-container {
  padding: 10px;
  box-sizing: border-box;
}
.lf-graph{
  background-color: #f1f6f8;
}
.table-node {
  width: 100%;
  height: 100%;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 30%);
  overflow: hidden;
  padding-bottom: 5px;
}
.table-node::before {
  content: "";
  display: block;
  width: 100%;
  height: 8px;
  background: #d79b00;
}
.table-node.table-color-1::before {
  background: #9673a6;
}
.table-node.table-color-2::before {
  background: #dae8fc;
}
.table-node.table-color-3::before {
  background: #82b366;
}
.table-node.table-color-4::before {
  background: #f8cecc;
}
.table-name {
  height: 35px;
  text-align: center;
  line-height: 35px;
  background: #f5f5f5;
  font-size: 18px;
  font-weight: 500;
}
.table-field {
  height: 25px;
  line-height: 25px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.table-field-index-and-key{
  display: flex;
  align-items:center;
}
.field-index{
  color:#d79b00;
  margin-right: 8px;
}
.field-nullable{
  color: #9673a6;
  width: 3px;
  display: inline-block;
}
.field-type {
  color: #9f9c9f;
}
.icon-index-none{
  width: 14px;
  height: 14px;
  margin-right: 2px;
  display: inline-block;
}
.icon-index-unique{
  width: 14px;
  height: 14px;
  margin-right: 2px;
  display: inline-block;
  background: url("data:image/svg+xml,%3Csvg class='icon' style='width:1em;height:1em;vertical-align:middle' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' fill='%2300A5E0' overflow='hidden'%3E%3Cpath d='M949.077 578.606l-73.491-71.528 71.527-73.491c12.326-12.665 12.052-32.924-.612-45.25-12.666-12.327-32.925-12.052-45.251.613l-88.259 90.681a32.186 32.186 0 0 0-1.32-.017l-224.093 3.033 125.867-134.584a32.196 32.196 0 0 0 3.215-4.052l98.212-3.287c17.663-.591 31.503-15.389 30.912-33.052-.591-17.664-15.388-31.491-33.053-30.912l-83.338 2.789-2.789-83.338c-.592-17.664-15.396-31.505-33.053-30.912-17.663.591-31.503 15.389-30.912 33.052l3.565 106.525-118.531 126.743v-219.7c0-2.674-.333-5.269-.951-7.751l83.048-83.048c12.497-12.497 12.497-32.758.001-45.255-12.499-12.497-32.76-12.497-45.255 0L512 148.38l-72.516-72.516c-12.497-12.497-32.758-12.497-45.255 0s-12.497 32.758 0 45.255l89.477 89.477c-.018.439-.033.879-.033 1.323v224.112L350.805 308.355a32.247 32.247 0 0 0-4.008-3.27l-1.958-98.248c-.352-17.669-14.968-31.72-32.631-31.356-17.669.352-31.708 14.961-31.356 32.631l1.661 83.368-83.368 1.661c-17.669.352-31.708 14.961-31.356 32.631.348 17.453 14.604 31.362 31.981 31.362.216 0 .434-.002.65-.006l106.563-2.123 134.885 129.614-231.66 3.136-90.646-88.225c-12.666-12.327-32.924-12.052-45.251.613s-12.052 32.924.613 45.25l73.491 71.527-71.528 73.491c-12.327 12.665-12.052 32.925.613 45.251 6.22 6.054 14.271 9.068 22.316 9.068 8.335 0 16.662-3.236 22.935-9.681l80.979-83.202 234.47-3.174L315.653 679.71l-106.525 3.565c-17.663.592-31.503 15.39-30.912 33.053.591 17.663 15.394 31.488 33.052 30.912l83.338-2.789 2.79 83.338c.579 17.299 14.784 30.931 31.962 30.93.362 0 .726-.006 1.09-.018 17.663-.592 31.502-15.39 30.911-33.053l-3.268-97.622 125.58-134.278v219.688l-89.443 89.444c-12.497 12.496-12.497 32.758 0 45.255 6.249 6.248 14.438 9.372 22.627 9.372s16.379-3.124 22.627-9.373L512 875.619l72.516 72.516c12.498 12.498 32.758 12.498 45.256 0 12.496-12.496 12.496-32.758 0-45.254l-82.099-82.099V586.29L677.038 710.6l2.124 106.563c.348 17.453 14.604 31.362 31.98 31.362.216 0 .434-.002.65-.007 17.67-.352 31.708-14.961 31.356-32.631l-1.662-83.368 83.368-1.661c17.67-.353 31.708-14.962 31.356-32.632-.354-17.67-14.956-31.746-32.632-31.355l-97.655 1.946-127.286-122.314 213.9-2.895a32.045 32.045 0 0 0 7.736-1.055l84.165 81.917c6.221 6.054 14.271 9.068 22.316 9.068 8.335 0 16.662-3.236 22.935-9.681 12.327-12.665 12.052-32.925-.612-45.251z'/%3E%3C/svg%3E") no-repeat center/100%;
}
.icon-index-primary{
  width: 14px;
  height: 14px;
  margin-right: 2px;
  display: inline-block;
  background: url("data:image/svg+xml,%3Csvg class='icon' style='width:1em;height:1em;vertical-align:middle' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' fill='%2300A5E0' overflow='hidden'%3E%3Cpath d='M475.429 292.571q0-45.714-32-77.714t-77.715-32-77.714 32-32 77.714q0 24 10.857 47.429-23.428-10.857-47.428-10.857-45.715 0-77.715 32t-32 77.714 32 77.714 77.715 32 77.714-32 32-77.714q0-24-10.857-47.428 23.428 10.857 47.428 10.857 45.715 0 77.715-32t32-77.715zm486.285 402.286q0 9.714-28 37.714t-37.714 28q-5.143 0-16.286-9.142t-20.857-18.858-22-22.857-14-14.857L768 749.714 893.714 875.43q16 16 16 38.857 0 24-22.285 46.285t-46.286 22.286q-22.857 0-38.857-16L418.857 583.43q-100.571 74.857-208.571 74.857-93.143 0-151.715-58.572T0 448q0-91.429 54.286-178.857T196 127.429t178.857-54.286q93.143 0 151.714 58.571t58.572 151.715q0 108-74.857 208.571l202.857 202.857L768 640q-1.714-1.714-14.857-14t-22.857-22-18.857-20.857-9.143-16.286q0-9.714 28-37.714t37.714-28q7.429 0 13.143 5.714 3.428 3.429 26.286 25.429t46.857 45.428 49.428 49.143 41.715 44.572 16.285 23.428z'/%3E%3C/svg%3E") no-repeat center/100%;
}
.icon-index-index{
  width: 14px;
  height: 14px;
  margin-right: 2px;
  display: inline-block;
  background: url("data:image/svg+xml,%3Csvg class='icon' style='width:1em;height:1em;vertical-align:middle' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' fill='%2300A5E0' overflow='hidden'%3E%3Cpath d='M803.8 683c-40.7 0-80 14.6-110.9 41-27.3 23.4-46.5 54.8-54.9 89.5H358.2c-72.1 0-130.7-58.6-130.7-130.7s58.6-130.7 130.7-130.7h307.6c56.3 0 109.2-21.9 149.1-61.7 39.8-39.8 61.7-92.8 61.7-149.1s-21.9-109.2-61.7-149.1c-39.8-39.8-92.8-61.7-149.1-61.7H385.9C377.5 95.8 358.4 64.4 331 41 300.2 14.6 260.8 0 220.2 0c-94 0-170.5 76.5-170.5 170.5S126.2 341 220.2 341c40.7 0 80-14.6 110.9-41 27.3-23.4 46.5-54.8 54.9-89.5h279.9c72.1 0 130.7 58.6 130.7 130.7S738 471.9 665.9 471.9H358.2c-56.3 0-109.2 21.9-149.1 61.7-39.8 39.8-61.7 92.8-61.7 149.1s21.9 109.2 61.7 149.1 92.8 61.7 149.1 61.7h279.9c8.4 34.6 27.6 66.1 54.9 89.5 30.8 26.4 70.2 41 110.9 41 94 0 170.5-76.5 170.5-170.5S897.9 683 803.8 683zm90.4 170.5c0 24.1-9.4 46.8-26.5 63.9s-39.8 26.5-63.9 26.5-46.8-9.4-63.9-26.5-26.5-39.8-26.5-63.9 9.4-46.8 26.5-63.9 39.8-26.5 63.9-26.5 46.8 9.4 63.9 26.5 26.5 39.8 26.5 63.9zm-583.7-683c0 24.1-9.4 46.8-26.5 63.9s-39.8 26.5-63.9 26.5-46.8-9.4-63.9-26.5-26.5-39.8-26.5-63.9 9.4-46.8 26.5-63.9 39.8-26.5 63.9-26.5 46.8 9.4 63.9 26.5 26.5 39.8 26.5 63.9z'/%3E%3C/svg%3E") no-repeat center/100%;
}
.custom-minimap{
  background-image: url("data:image/svg+xml,%3Csvg class='icon' style='width:1em;height:1em;vertical-align:middle' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' overflow='hidden'%3E%3Cpath d='M130.6 673.2c20.9 49.3 50.7 93.6 88.7 131.6s82.3 67.8 131.6 88.7C402 915.1 456.1 926 512 926h.1c55.9 0 110.1-11 161.1-32.6 49.3-20.9 93.6-50.7 131.6-88.7s67.8-82.3 88.7-131.6C915.1 622 926 567.8 926 511.9s-11-110.1-32.6-161.1c-20.9-49.3-50.7-93.6-88.7-131.6s-82.3-67.8-131.6-88.7C622 108.9 567.9 98 512 98h-.1c-55.9 0-110.1 11-161.1 32.6-49.3 20.9-93.6 50.7-131.6 88.7s-67.8 82.3-88.7 131.6C108.9 402 98 456.2 98 512.1s11 110.1 32.6 161.1zm124-418.5C323.3 185.9 414.7 148 511.9 148h.1c97.2 0 188.6 37.8 257.3 106.6C838.1 323.3 876 414.7 876 511.9c0 97.2-37.8 188.6-106.6 257.4C700.7 838.1 609.3 876 512.1 876h-.1c-97.2 0-188.6-37.8-257.3-106.6C185.9 700.7 148 609.3 148 512.1c0-97.3 37.8-188.7 106.6-257.4z'/%3E%3Cpath d='M317.7 752.1c8.8 6.9 21.2 7 30.2.4L512 631.2l164.2 121.2c9 6.6 21.3 6.5 30.2-.4 8.8-6.9 12-18.8 7.8-29.2L535.1 282.2c-3.8-9.4-13-15.6-23.2-15.6s-19.3 6.2-23.2 15.6L309.8 722.9c-4.1 10.4-.9 22.3 7.9 29.2zm194.3-394l122.4 301.3L526.9 580c-8.8-6.5-20.9-6.5-29.7 0l-107.5 79.5L512 358.1z'/%3E%3C/svg%3E");
}
.lf-control-zoomOut{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath d='M921 494.6C921 730.1 730.1 921 494.6 921S68.3 730.1 68.3 494.6 259.2 68.3 494.6 68.3 921 259.2 921 494.6zM494.6 134.2c-199.1 0-360.4 161.4-360.4 360.4S295.6 855 494.6 855 855 693.6 855 494.6 693.7 134.2 494.6 134.2z'/%3E%3Cpath d='M649.3 471.1c-6.1-6.1-14-9.2-23.6-9.2H363.6c-9.6 0-17.4 3.1-23.6 9.2-6.1 6.1-9.2 14-9.2 23.6 0 9.6 3.1 17.4 9.2 23.6 6.1 6.1 14 9.2 23.6 9.2h262.1c9.6 0 17.4-3.1 23.6-9.2s9.2-14 9.2-23.6c0-9.6-3.1-17.5-9.2-23.6z'/%3E%3C/svg%3E");
}
.lf-control-zoomIn{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath d='M461.9 461.9v-98.3c0-9.6 3.1-17.4 9.2-23.6s14-9.2 23.6-9.2c9.6 0 17.4 3.1 23.6 9.2s9.2 14 9.2 23.6v98.3h98.3c9.6 0 17.4 3.1 23.6 9.2s9.2 14 9.2 23.6c0 9.6-3.1 17.4-9.2 23.6s-14 9.2-23.6 9.2h-98.3v98.3c0 9.6-3.1 17.4-9.2 23.6s-14 9.2-23.6 9.2c-9.6 0-17.4-3.1-23.6-9.2s-9.2-14-9.2-23.6v-98.3h-98.3c-9.6 0-17.4-3.1-23.6-9.2s-9.2-14-9.2-23.6c0-9.6 3.1-17.4 9.2-23.6s14-9.2 23.6-9.2h98.3z'/%3E%3Cpath d='M921 494.6C921 730.1 730.1 921 494.6 921S68.3 730.1 68.3 494.6 259.2 68.3 494.6 68.3 921 259.2 921 494.6zM494.6 134.2c-199.1 0-360.4 161.4-360.4 360.4S295.6 855 494.6 855 855 693.6 855 494.6 693.7 134.2 494.6 134.2z'/%3E%3C/svg%3E");
}
.lf-control-fit{
  background-image:url("data:image/svg+xml,%3Csvg class='icon' style='width:1em;height:1em;vertical-align:middle' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' overflow='hidden'%3E%3Cpath d='M144 112h232a8 8 0 0 1 8 8v48a8 8 0 0 1-8 8H221.255l216.716 216.716a8 8 0 0 1 0 11.313l-33.942 33.942a8 8 0 0 1-11.313 0L176 221.255V376a8 8 0 0 1-8 8h-48a8 8 0 0 1-8-8V144c0-17.673 14.327-32 32-32zm-32 536v232c0 17.673 14.327 32 32 32h232a8 8 0 0 0 8-8v-48a8 8 0 0 0-8-8H221.884l215.901-215.901a8 8 0 0 0 0-11.314l-33.941-33.941a8 8 0 0 0-11.314 0L176 803.374V648a8 8 0 0 0-8-8h-48a8 8 0 0 0-8 8zm690.744 200L586.529 631.785a7.999 7.999 0 0 1 0-11.314l33.941-33.941a8 8 0 0 1 11.314 0L848 802.747V648a8 8 0 0 1 8-8h48a8 8 0 0 1 8 8v232c0 17.673-14.327 32-32 32H648a8 8 0 0 1-8-8v-48a8 8 0 0 1 8-8h154.744zM912 376V144c0-17.673-14.327-32-32-32H648a8 8 0 0 0-8 8v48a8 8 0 0 0 8 8h155.373l-217.03 217.029a8 8 0 0 0 0 11.314l33.941 33.941a8 8 0 0 0 11.314 0L848 221.882V376a8 8 0 0 0 8 8h48a8 8 0 0 0 8-8z' /%3E%3C/svg%3E");
}
.lf-control-undo{
  background-image: url("data:image/svg+xml,%3Csvg class='icon' style='width:1em;height:1em;vertical-align:middle' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' overflow='hidden'%3E%3Cpath d='M725.4 337.2c-3.5-.8-7.2-1.2-11.2-1.2H244.7l181.6-181.5c20.5-20.6 20.5-54.2 0-74.9-10-10-23.3-15.5-37.5-15.5-14.1 0-27.5 5.5-37.5 15.5L79.4 351.3c-1.7 1.7-2.7 3.3-3.4 4.6-2.8 3.5-5.9 7.6-8 12.8-2.1 5-3.3 10.5-3.7 16.7-.2.9-.3 2.1-.3 3.4 0 1.7.2 3.1.4 4.1.4 5.8 1.5 11 3.4 15.8l.1.3c2.2 5.3 5.3 10.1 9.4 14.8l.8 1.3 273.2 273.1c9.9 9.9 23.2 15.4 37.4 15.4 14 0 27.2-5.4 37.3-15.3l.1-.1c20.6-20.6 20.7-54.3 0-75L244.7 441.8h463.1c28.6 8 146.2 50.8 146.2 214.9 0 166.2-124.3 194-143.7 197.4H603.4c-29.2 0-53 23.8-53 53s23.8 52.9 53 52.9h110.8c2 0 4.1-.1 6.4-.4 19.8-2.4 89.3-15 151.1-74.5 26.9-25.9 48.1-56.9 62.8-92.1 16.9-40.3 25.5-86.1 25.5-136.3 0-213.2-153.3-302.2-234.6-319.5z' /%3E%3C/svg%3E");
}
.lf-control-redo{
  background-image: url("data:image/svg+xml,%3Csvg class='icon' style='width:1em;height:1em;vertical-align:middle' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' overflow='hidden'%3E%3Cpath d='M298.6 337.2c3.5-.8 7.2-1.2 11.2-1.2h469.5L597.7 154.4c-20.5-20.6-20.5-54.2 0-74.9 10-10 23.3-15.5 37.5-15.5 14.1 0 27.5 5.5 37.5 15.5l271.9 271.8c1.7 1.7 2.7 3.3 3.4 4.6 2.8 3.5 5.9 7.6 8 12.8 2.1 5 3.3 10.5 3.7 16.7.2.9.3 2.1.3 3.4 0 1.7-.2 3.1-.4 4.1-.4 5.8-1.5 11-3.4 15.8l-.1.3c-2.2 5.3-5.3 10.1-9.4 14.8l-.8 1.3-273.3 273.2c-9.9 9.9-23.2 15.4-37.4 15.4-14 0-27.2-5.4-37.3-15.3l-.1-.1c-20.6-20.6-20.7-54.3 0-75l181.6-181.5H316.2c-28.6 8-146.2 50.8-146.2 214.9 0 166.2 124.3 194 143.7 197.4h106.9c29.2 0 53 23.8 53 53s-23.8 52.9-53 52.9H309.8c-2 0-4.1-.1-6.4-.4-19.8-2.4-89.3-15-151.1-74.5-26.9-25.9-48.1-56.9-62.8-92.1C72.6 752.7 64 706.9 64 656.7c0-213.2 153.3-302.2 234.6-319.5z' /%3E%3C/svg%3E");
}